*{
    box-sizing: border-box;
}

.encabezado{
    height: 88vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(foto.jpg);
    background-color: rgba(255, 255, 255, 0.91);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav{
    box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.2);
    background-color: yellowgreen !important;
}

h1{
    font: normal 8vw "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.navbar{
    line-height: 3;
}

.container{
    display: flex;
    flex-flow: row wrap;
    padding-top: 15px;
}

.main{
    max-width: 70%;
    text-align: justify;
    padding: 15px;
    background-color: white;
    margin-left: 15px;
    margin-bottom: 15px;
}

.aside{
    max-width: 27.8%;
    margin-bottom: 15px;
}

.aside1{
    background-color: white;
    padding: 15px;   
}

.aside2{
    background-color: white;
    padding: 15px;   
}

.footer{
    background-color: whitesmoke;
    text-align: center;
}

.br{
    height: 15px;
}

@media screen and (min-width: 320px) and (max-width: 1023px){
    .main{
        max-width: 100%;
        margin: 0;
        margin-bottom: 15px;
    }
    .aside{
        max-width: 100%;
        margin-top: 15px;
    }
}

/* Esta query especifica una hoja de estilo para ser utilizada cuando la ventana tiene un ancho entre 500 y 800 pixeles:

@media screen and (min-width: 500px) and (max-width: 800px) { ... } */